*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
}

.head{
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
   
    
}

.logo{
    display: inline-block;
    margin-left: 24px;
    font-size: 2.5em;
    height: 32px;
    margin-top: 16px;
}

.navigation{
    
    display: inline-block;
    margin-right: 24px;
    position: relative;
    font-size: 2em;
    left:800px;

}

.navigation a{
  padding: 10px;
  text-decoration: none;
  color: rgb(124, 116, 116);
  margin-top: 16px;

}


.section1{
    background-color: rgb(191, 197, 201);
    width: 100%;
    height: 620px;
    
    
}

.imgBanner{
    margin-top: 80px;
    display: inline-block;
    height: 520px;
    width: 600px;
    margin-left: 24px;
   
    
}

.bannerH1{
    font-size: 4rem;
    position: relative;
    left: 720px;
    bottom: 400px;
    width: 400px;
}

.bannerp2{
    font-weight: 0;
    font-size: 2rem;
    position: relative;
    left: 720px;
    bottom: 380px;
    width: 400px;
}
 
.buttomBanner{
    font-size: 1.5rem;
    position: relative;
    left: 780px;
    bottom: 340px;
    width: 400px;
    background-color:rgb(75, 68, 68);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 50px;
    font-size: 2rem;
}


.leftImg {
   width: 60%;
    float: left;
}

.leftImg img{
    width: 90%;
    margin: 32px 24px;
    
}


.leftImg h1{
    text-align: left;
    width: 90%;
    font-size: 4rem;
    margin: 32px 24px 24px 24px;
    
}

.leftImg p{
    
    text-align: left;
    width: 90%;
    font-size: 1.5rem;
    margin: 32px 24px 24px 24px;
}

.leftImg h6{
   
    width: 90%;
    font-size: 1rem;
    margin: 32px 24px 24px 24px;
}


.right{
    width: 40%;
    float: right;
    margin-top: 8px;
    margin-bottom: 32px;
}

.cont1,.cont2,.cont3{
    width: 100%;
    position: relative;

}


.cont3{
  background-color: rgb(200, 203, 207);
}

.img1, .img2, .img3{
    
    margin-top: 22px;
    width: 35%;
    display: inline-block;
    margin: 16px;
    height: auto;
    z-index: -10;
}


.descCont1, .desCont2, .desCont3{
    text-align: center;
    width: 45%;
    float: right;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    margin-left: 8px;
        

}


.descCont1 h3, .desCont2 h3, .desCont3 h3{
  font-size: 2.5rem;
  margin-bottom: 8px;

}

.descCont1 p, .desCont2 p, .desCont3 p{
    font-size: 1.5rem;
    margin-bottom: 8px;
   
    
 }


 .descCont1 a, .desCont2 a, .desCont3 a{
    font-size: 1.5rem;
    margin-top: 8px;
    color: lightskyblue;
    text-decoration: none;
}






