*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    
}

html{
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
}

body{
   width: 100%;
}

.head{
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
    
   
}

.logo{
    display: flex;
  margin-left: 24px; 
  height: 32px;
  align-items: center;
   
}

.navigation{
   
    margin-right: 24px;

}

.navigation a{
  padding: 16px;
 color: rgb(121, 115, 115);
  text-decoration: none;
  height: 32px;
}




.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(191, 197, 201);
    width: auto;
    height: auto;
    position: relative;
    top: 65px;
    
   
    
}

.sect2Desc{
    width: 40%;
}


.imgBanner{
    height:500px;
    width: 60%;
    margin: 32px 24px;
    top: 55px;

}



.bannerH1{
    text-align: left;
    margin-bottom: 16px;
    font-size: 3.5rem;
}

.bannerp2{
    text-align: left;
    margin-bottom: 16px;
    font-size: 2.5rem;
}
 
.buttomBanner{
   
    border-radius: 10px;
    width: 80%;
    padding: 30px;
    font-size: 2.5rem;
    padding: 8px 0 8px 0 ;
    background-color: rgb(95, 91, 91);
    color: white;
    border: none;
    
}
.section2{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
    height: auto;
   

}
 
.leftImg{
   
    display: flex;
    justify-content: space-around;
    flex-basis: 60%;
    align-self: center;
    flex-wrap: wrap;
    padding: 32px 24px;

}

.leftImg img{
    width: 100%;
    
   
}


.leftImg h1{
    
    width: 100%;
    font-size: 4rem;
    margin: 32px 0px 24px 0px;
    
   
    
}

.leftImg p{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    
    
}

.leftImg h6{
    
    width: 100%;
    font-size: 1rem;
    margin: 32px 0px 32px 0px;
    
}


.right{
    display: flex;
    flex-direction: column;
    width:40%;
   
    padding: 32px 24px;
    
    
}

.cont1,.cont2,.cont3{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    
    
    

}

.cont3{

    background-color: rgb(233, 227, 227);
   
}



.img1, .img2, .img3{
 
    padding: 16px 16px 16px 16px;
    width: 35%;
    height:auto;
    
   
}

.descCont1,
.desCont2,
.desCont3{
    width: 65%;
}



.descCont1 h3, .desCont2 h3, .desCont3 h3{
    
  font-size: 2.3rem;
  margin-bottom: 8px;
  
  
  
}

.descCont1 p, .desCont2 p, .desCont3 p{
    font-size: 1.5rem;
    margin-bottom: 8px;
    
    
}


.descCont1 a, .desCont2 a, .desCont3 a{
    font-size: 1.5rem;
    margin-top: 8px;
    color: lightskyblue;
    text-decoration: none;
    
}

.section3{
  background-color: rgb(233, 227, 227);
  
  display: block;
  position: relative;
  top: 80px;
  height: auto;
  margin-bottom: 32px;
}

.header3{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 32px;
  
  
    
}


.photoCont3{
    
    height: 900px;
    height: 100%;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  
}



.cont31,
.cont32,
.cont33,
.cont34,
.cont35,
.cont36{
   
   text-align: left;
   width: auto;
   background-color: rgb(255, 255, 255);
   height: 320px;
  
}

.cont31,
.cont32,
.cont33{
    margin-top: 32px;
    margin-bottom: 32px;  
}

.cont31,
.cont34{
    margin-left: 72px;
    margin-right: 32px;
    
}

.cont33,
.cont36{
    margin-right: 72px;
    margin-left: 32px;
}

.cont31 img,
.cont32 img,
.cont33 img,
.cont34 img,
.cont35 img,
.cont36 img{
   width: 350px;
   height: auto;
 
}


.cont31 h2,
.cont32 h2,
.cont33 h2,
.cont34 h2,
.cont35 h2,
.cont36 h2{
    padding-top: 16px;
    padding-left: 16px;
    font-size: 2rem;
    

}

.courses{
    margin-top: 8px;
    padding-left: 16px;
    font-size: 1.5rem;
    

}

.parag{
    margin-top: 8px;
    padding-left: 16px;
    margin-bottom: 24px;
    font-size: 1.5rem;
    width: 330px;
  
    
    
}


.section4{
    margin-top: 32px;
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
    top:80px
}

.head4{
    
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 3rem;

}

.contSection4{
  display: flex;
  justify-content: space-around;
  justify-content: space-around;
}

.videoCont{
    width: 60%;


}

.videosss{
    width: 100%;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
}

.videoCont h2{
  padding-left: 24px;
  font-size: 2.5rem;
}


.videoCont p{
    padding-top: 8px;
    padding-left: 24px;
    padding-bottom: 32px;
    font-size: 1.5rem;
   
}

.photoCont{
    width: 40%;
    
    
}

.photoCont1,
.photoCont2{
    width: 100%;
    display: flex;
    align-items: center;
}



.photoCont1 img,
.photoCont2 img{
    width: 35%;
    height: auto;
    padding: 16px
   
}

.con1,
.con2{
   
    width: 65%;
    height: 100px;
    padding: 16px;
    
    
}
.photoCont1 h2,
.photoCont2 h2{
    width: 100%;
    font-size: 2rem;
}


.photoCont1 p,
.photoCont2 p{
    width: 100%;
    margin-top: 8px;
    font-size: 1.2rem;
}


.photoCont1{
    background-color: rgb(204, 199, 199);
}


footer{
    position: relative;
    top: 50px;
    height: 70px;
    font-size: 1.5rem;
    border-top: rgb(204, 199, 199) solid 1px;
    
}

footer p{
    margin-left: 24px;
    margin-top: 16px;
    float: left;
}

footer a{
    margin-right: 24px;
    margin-top: 16px;
    float: right;
   
}



@media only screen and (max-width: 2030px) {
   

    .logo i{
        display: none;
    }
  }






  @media only screen and (max-width: 1217px) {
    .leftImg{
        margin: 0px;
    }

    .right{
        margin: 0;
    }

    .img1,
    .img2,
    .img3{
        margin-top: 0px;
    }

    .section4{
        height: 550px;
    }
  }

 

  @media only screen and (max-width: 1065px) {
    
    
    

    
    .navigation a{
        display: none;
       
    }
    
    .navigation i{
        padding: 40px;
       
    }

    .cont31,
    .cont32,
    .cont33,
    .cont34,
    .cont35,
    .cont36{
        margin: 0 0 16px ;
    }

}

   


  @media only screen and (max-width: 812px ) {
   .navigation{
       margin: 0px;
   }

    .right{
        width: 100%;
    }

    .img1,
    .img2,
    .img3{
        width: 100%;
        height: 300px;
        padding: 16px;
    }

    .descCont1 h3,
    .desCont2 h3,
    .desCont3 h3,
    .descCont1 p,
    .desCont2 p,
    .desCont3 p,
    .descCont1 a,
    .desCont2 a,
    .desCont3 a{
        text-align: left;
        padding-left: 16px;
        font-weight: 2rem;
        
    }

    .descCont1,
    .desCont2{
        padding-left: 16px;
        padding-bottom: 64px;
    }

    .desCont3{
        padding-left: 16px;
        padding-bottom: 32px;
    }
    .leftImg{
        display: none;
    }


    
  
}



  @media only screen and (max-width: 788px ) {
      .leftImg{
          
          flex-basis: 100%;
          
      }


    

      .right{
          width: 100%;
      }

      .section4{
        height: 500px;
    }


    
  }


  



  @media only screen and (max-width: 712px) {
    
    .head{
        justify-content: center;
        font-size: 2rem;

  }
    .logo{
      display: none;
  }

  .section1{
      flex-wrap: wrap;
  }

  .imgBanner{
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
  }

  .sect2Desc{
      width: 80%;
  }
  .bannerH1{
      margin-bottom: 32px;
    
  }

  .bannerp2{
      margin-bottom: 24px;
  }

  .buttomBanner{
      margin-bottom: 32px;
  }

  

  
    
  }

  @media only screen and (max-width: 705px) {
    .photoCont{
        display: none;
    }

    .section4{
        height: 100px;
    }

    .videoCont{
        width: 100%;
        
    }

    .videoCont h2,
    .videoCont p{
        display: none;
        
    }

    .videosss{
        padding: 0px;
    }
    .section4{
        height: 480px;
    }

    
    
}

    

 

  @media only screen and (max-width: 480px) {
    .navigation i{
        padding: 30px;
    }

    .right{
        
        padding: 0px 16px 64px 16px;
    }


    .imgBanner{
        height: auto;
    }

    .cont1,
    .cont2,
    .cont3{
        height: 390px;
    }

    .cont3{
        background-color: white;
    }

    .cont31 img,
    .cont32 img,
    .cont33 img,
    .cont34 img,
    .cont35 img,
    .cont36 img,
    .cont31 p,
    .cont32 p,
    .cont33 p,
    .cont34 p,
    .cont35 p,
    .cont36 p{
        display: none;
    }

    .cont31 h2,
    .cont32 h2,
    .cont33 h2,
    .cont34 h2,
    .cont35 h2,
    .cont36 h2{
        font-size: 2.5rem;
        align-items: center;
        position: relative;
        top: 18px;
    }
   
    .cont31,
    .cont32,
    .cont33,
    .cont34,
    .cont35,
    .cont36 {
        justify-content: space-around;
        height: 100px;
        width: 90%;
        margin: 8px;
        align-items: center;
        background-color: rgb(190, 184, 184);
    }


    footer{
        position: relative;
        top:260px;
    }

    footer a{
        display: none;
    }

    .section4{
        height: 150px;
    }

   footer{
       top:200px
   }
    
  }




  