*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    
}

html{
    font-size: 10px;
    font-family: 'Questrial', sans-serif;
}

.head{
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10; 
}

.logo{
    display: inline-block;
    margin-left: 24px;
    font-size: 2.8em;
    height: 32px;
    margin-top: 16px;
}

.navigation{
    
    display: inline-block;
    margin-right: 24px;
    position: relative;
    font-size: 1.5em;
    left:880px;

}

.navigation a{
  
  text-decoration: none;
  color: rgb(124, 116, 116);
  margin-left: 16px;
  margin-right: 16px;

}


.section1{
   
    background-color: rgb(191, 197, 201);
    width: 100%;
    height: 620px;
    position: relative;
    top: 3px;
    
    
    
}


.imgBanner{
    height:500px;
    width: 60%;
    margin: 32px 24px;
    top: 200px;
    position: absolute;
    top: 55px;
   
    
}


.bannerH1{
    float: right;
    width: 23%;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 970px;
    font-size: 3.5rem;
   
}

.bannerp2{
    float: right;
    width: 23%;
    text-align: left;
    position: absolute;
    top: 42%;
    left: 970px;
    font-size: 2.5rem;
    
    
}
 
.buttomBanner{
    float: right;
    width: 25%;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 990px;
    font-size: 2.5rem;
    padding: 8px 0 8px 0 ;
    background-color: rgb(95, 91, 91);
    color: white;
    border: none;
    
}

 
.leftImg{
    margin: 32px 24px;
    width: 60%;
    float: left;
}

.leftImg img{
    width: 100%;
    display: inline-block;
}


.leftImg h1{
    text-align: left;
    font-size: 4rem;
    margin: 32px 24px 24px 0px;
    width: 100%;
    
}

.leftImg p{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin: 24px 24px 24px 0px;
}

.leftImg h6{
    width: 100%;
    font-size: 1rem;
    margin: 24px 24px 24px 0px;
}


.right{
    width:36%;
    float: right;
    margin-top: 8px;
    margin-bottom: 32px;
}

.cont1,.cont2,.cont3{
    width: 100%;
    position: relative;
    top: 7px;

}


.cont3{
  background-color: rgb(200, 203, 207);
}

.img1, .img2, .img3{
    
    margin: 16px 16px;
    width: 35%;
    margin: 16px;
    height: auto;
    z-index: -10;
   
}


.descCont1, .desCont2, .desCont3{
    text-align: center;
    width: 60%;
    float: right;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    
        

}


.descCont1 h3, .desCont2 h3, .desCont3 h3{
  font-size: 2.3rem;
  margin-bottom: 8px;
}

.descCont1 p, .desCont2 p, .desCont3 p{
    font-size: 1.5rem;
    margin-bottom: 8px;
    
}


.descCont1 a, .desCont2 a, .desCont3 a{
    font-size: 1.5rem;
    margin-top: 8px;
    color: lightskyblue;
    text-decoration: none;
}

.section3{
    
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(207, 202, 202);
    padding-left: 72px;
    padding-right: 72px;
}

.header3{
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 40px;
    border: none;
    height:50px;
    align-items: center;
    
}

.cont31,
.cont32,
.cont33,
.cont34,
.cont35,
.cont36{
  height: 400px;
  background-color: white;
  text-align: left;
  width: 16,666667%;
 
}

.cont31 img,
.cont32 img,
.cont33 img,
.cont34 img,
.cont35 img,
.cont36 img{
  height: auto;
  max-width: 440px;
}


.cont31 h2,
.cont32 h2,
.cont33 h2,
.cont34 h2,
.cont35 h2,
.cont36 h2{
    margin-left: 16px;
    font-size: 2.5rem;
    margin-top: 16px;
    margin-bottom: 20px;
}

.cont31 p,
.cont32 p,
.cont33 p,
.cont34 p,
.cont35 p,
.cont36 p{
    margin-left: 16px;
    font-size: 1.6rem;
    margin-top: 16px;
    width: 400px;
    
}


.section4{
    
    width: 100%;
}

.head4{
    
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 3rem;

}

.videoCont{
    
    width: 60%;
    float: left;
    
   

}

.videosss{
    width: 100%;
    
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
}

.videoCont h2{
  padding-left: 24px;
  font-size: 2.5rem;
}


.videoCont p{
    padding-top: 8px;
    padding-left: 24px;
    padding-bottom: 32px;
    font-size: 1.5rem;
    justify-content: center;
}

.photoCont{
    width: 40%;
    float: right;
}

.photoCont1{
    width: 100%;
}

.photoCont2{
    width: 100%;

}

.photoCont1 img,
.photoCont2 img{
    width: 35%;
    height: auto;
    padding: 16px
   
}

.con1,
.con2{
    width: 65%;
    height: 100px;
    float: right;
    position: relative;
    top: 50px;
    padding: 16px;
    
    
}
.photoCont1 h2,
.photoCont2 h2{
    width: 65%;
    text-align: left;
    font-size: 2rem;
}


.photoCont1 p,
.photoCont2 p{
    width: 65%;
    text-align: left;
    margin-top: 8px;
    font-size: 1.2rem;
}


.photoCont1{
    background-color: rgb(204, 199, 199);
}


