.head {
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $main-background-color;
  .logo {
    display: flex;
    align-items: center;
    margin-left: 0.7rem;
    flex-grow: 1;
  }
  .navigationContainer {
    flex-basis: 50%;
    flex-grow: 1;
    .navigation {
      display: flex;
      justify-content: space-evenly;

      list-style: none;

      & a {
        color: $main-text-color;
        text-decoration: none;
      }

      .iconnn {
        color: $main-text-color;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .head {
    .navigationContainer {
      flex-basis: 80%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .head {
    .navigationContainer {
      .navigation {
        & a {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 349px) {
  .head {
    font-size: 1rem;
  }
}
