* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-family: "Questrial", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  margin: 0px;
}

.head {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  margin-left: 24px;
  height: 32px;
  align-items: center;  
}



.navigation a {
  padding: 16px;
  color: rgb(121, 115, 115);
  text-decoration: none;
  height: 32px;
}

.section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(191, 197, 201);
  margin-top: 4rem;
  
}

.sect2Desc {
  flex-basis: 40%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imgBanner {
  height: 600px;
  width: 30rem;
  flex-basis: 60%;
  background-repeat: no-repeat;
  margin: 32px 24px;
  
  
}

.bannerH1 {
  text-align: left;
  margin-bottom: 16px;
  font-size: 3.5rem;
  min-width: 40%;
}

.bannerp2 {
  text-align: left;
  margin-bottom: 16px;
  font-size: 2.5rem;
  min-width: 40%;
}

.buttomBanner {
  border-radius: 10px;
  width: 80%;
  padding: 30px;
  font-size: 2.5rem;
  padding: 8px 0 8px 0;
  background-color: rgb(95, 91, 91);
  color: white;
  border: none;
}
.section2 {
  width: 100%;
  display: flex;
  position: relative;
  height: auto;
}

.leftImg {
  display: flex;
  justify-content: space-around;
  flex-basis: 60%;
  align-self: center;
  height: auto;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.leftImg img {
  width: 100%;
}

.leftImg h1 {
  width: 100%;
  font-size: 4rem;
  margin: 32px 0px 24px 0px;
}

.leftImg p {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.leftImg h6 {
  width: 100%;
  font-size: 1rem;
  margin: 32px 0px 32px 0px;
}

.right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;

  padding: 32px 0px 32px 0px;
}

.cont1,
.cont2,
.cont3 {
  display: flex;
  height: 195px;
}

.cont3 {
  background-color: rgb(233, 227, 227);
}

.img1,
.img2,
.img3 {
  padding: 16px 16px 16px 16px;
  flex-basis: 35%;
  height: auto;
}

.desCont1,
.desCont2,
.desCont3 {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-basis: 65%;
}

.desCont1 h3,
.desCont2 h3,
.desCont3 h3 {
  font-size: 2.3rem;
  margin-bottom: 8px;
}

.desCont1 p,
.desCont2 p,
.desCont3 p {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.desCont1 a,
.desCont2 a,
.desCont3 a {
  font-size: 1.5rem;
  margin-top: 8px;
  color: lightskyblue;
  text-decoration: none;
}

.section3 {
  background-color: rgb(233, 227, 227);
  display: block;
  height: auto;
  margin-bottom: 32px;
}

.header3 {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 32px;
}

.photoCont3 {
  height: 900px;
  height: 100%;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.cont31,
.cont32,
.cont33,
.cont34,
.cont35,
.cont36 {
  text-align: left;
  width: auto;
  background-color: rgb(255, 255, 255);
  height: 320px;
}

.cont31,
.cont32,
.cont33 {
  margin-top: 32px;
  margin-bottom: 32px;
}


.cont31 img,
.cont32 img,
.cont33 img,
.cont34 img,
.cont35 img,
.cont36 img {
  width: 350px;
  height: auto;
}

.cont31 h2,
.cont32 h2,
.cont33 h2,
.cont34 h2,
.cont35 h2,
.cont36 h2 {
  padding-top: 16px;
  padding-left: 16px;
  font-size: 2rem;
}

.courses {
  margin-top: 8px;
  padding-left: 16px;
  font-size: 1.5rem;
}

.parag {
  margin-top: 8px;
  padding-left: 16px;
  margin-bottom: 24px;
  font-size: 1.5rem;
  width: 330px;
}

.section4 {
  margin-top: 1rem;
  display: block;
  width: 100%;
  position: relative;
}

.head4 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 3rem;
}

.contSection4 {
  display: flex;
  justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.videoCont {
  width: 60%;
}

.videosss {
  width: 100%;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.videoCont h2 {
  padding-left: 24px;
  font-size: 2.5rem;
}

.videoCont p {
  padding-top: 8px;
  padding-left: 24px;
  padding-bottom: 32px;
  font-size: 1.5rem;
}

.photoCont {
  width: 40%;
}

.photoCont1,
.photoCont2 {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
}

.photoCont1 img,
.photoCont2 img {
  width: 50%;
  height: 20rem;
  padding: 16px;
}

.con1,
.con2 {
  width: 65%;
  height: 100px;
  padding: 16px;
}
.photoCont1 h2,
.photoCont2 h2 {
  width: 100%;
  font-size: 2rem;
}

.photoCont1 p,
.photoCont2 p {
  width: 100%;
  margin-top: 8px;
  font-size: 1.2rem;
}

.photoCont1 {
  background-color: rgb(204, 199, 199);
}

footer {
  height: 70px;
  font-size: 1.5rem;
  border-top: rgb(204, 199, 199) solid 1px;
}

footer p {
  margin-left: 24px;
  margin-top: 16px;
  float: left;
}

footer a {
  margin-right: 24px;
  margin-top: 16px;
  float: right;
}

@media only screen and (max-width: 2030px) {
  .logo i {
    display: none;
  }
}

@media only screen and (max-width: 1295px) {
  .leftImg {
    margin: 0px;
  }

  .right {
    margin: 0;
  }

  .img1,
  .img2,
  .img3 {
    margin-top: 0px;
  }

 
}

@media only screen and (max-width: 1065px) {
  .right {
    flex-basis: 100%;
  }

  .leftImg {
    display: none;
  }

  .img1,
  .img2,
  .img3 {
    flex-basis: auto;
    flex-wrap: wrap;
  }

  .navigation a {
    display: none;
  }

  .navigation i {
    padding: 40px;
  }

  .cont31,
  .cont32,
  .cont33,
  .cont34,
  .cont35,
  .cont36 {
    margin: 0 0 16px;
  }

  .sect2Desc {
    flex-basis: 100%;
    margin: 32px 16px 32px 16px;
  }

  .desCont1,
  .desCont2,
  .desCont3,
  .img1,
  .img2,
  .img3 {
    width: 50%;
  }
  .imgBanner {
    height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    flex-basis: 100%;
  }

  .bannerH1 {
    margin-bottom: 32px;
  }

  .bannerp2 {
    margin-bottom: 24px;
  }

  .buttomBanner {
    margin-bottom: 32px;
  }
}

@media only screen and (max-width: 812px) {
  .navigation {
    margin: 0px;
  }

  .img1,
  .img2,
  .img3 {
    width: 40%;
    height: 200px;
  }

  .desCont1,
  .desCont2,
  .section3 {
    flex-wrap: wrap;
  }

  .desCont1 h3,
  .desCont2 h3,
  .desCont3 h3,
  .descCont1 p,
  .desCont2 p,
  .desCont3 p,
  .descCont1 a,
  .desCont2 a,
  .desCont3 a {
    text-align: left;
    width: auto;
  }

  .desCont1,
  .desCont2 {
    padding-bottom: 64px;
  }

  .desCont3 {
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 788px) {
  .leftImg {
    flex-basis: 100%;
  }

  .right {
    width: 100%;
  }

  
}

@media only screen and (max-width: 712px) {
  .head {
    justify-content: center;
    font-size: 2rem;
  }
  .logo {
    display: none;
  }

  .section1 {
    flex-wrap: wrap;
    width: auto;
  }

  .bannerH1,
  .bannerp2{
    text-align: center;
  }

  .buttomBanner{
   
    margin: auto;
    width: 30rem;
  }
}

@media only screen and (max-width: 705px) {
  .photoCont {
    display: none;
  }
  .leftImg {
    display: none;
  }

  .videoCont {
    width: 100%;
  }

  .videoCont h2,
  .videoCont p {
    display: none;
  }

  .videosss {
    padding: 0px;
  }
 
}

@media only screen and (max-width: 480px) {
  .navigation i {
    padding: 30px;
  }

  .imgBanner {
    overflow: hidden;
  }

  .cont1,
  .cont2,
  .cont3,
  .desCont1 h3,
  .desCont2 h3,
  .desCont3 h3,
  .desCont1 p,
  .desCont2 p,
  .desCont3 p,
  .desCont1 a,
  .desCont2 a,
  .desCont3 a {
    display: inline-block;
    height: auto;
    text-align: center;
  }
  .desCont1,
  .desCont2,
  .desCont3,
  .img1,
  .img2,
  .img3 {
    width: 100%;
  }

  .img1,
  .img2,
  .img3 {
    width: 100%;
  }

  .cont3 {
    background-color: white;
  }

  .cont31 img,
  .cont32 img,
  .cont33 img,
  .cont34 img,
  .cont35 img,
  .cont36 img,
  .cont31 p,
  .cont32 p,
  .cont33 p,
  .cont34 p,
  .cont35 p,
  .cont36 p {
    display: none;
  }

  .cont31 h2,
  .cont32 h2,
  .cont33 h2,
  .cont34 h2,
  .cont35 h2,
  .cont36 h2 {
    font-size: 2.5rem;
    align-items: center;
    position: relative;
    top: 18px;
  }

  .cont31,
  .cont32,
  .cont33,
  .cont34,
  .cont35,
  .cont36 {
    justify-content: space-around;
    height: 100px;
    width: 90%;
    margin: 8px;
    align-items: center;
    background-color: rgb(190, 184, 184);
  }

  footer {
    margin-top: 1rem;
  }

  footer a {
    display: none;
  }

  .section4 {
    height: auto;
  }
}

@media only screen and (max-width: 349px) {
  
  .navigation i {
    padding: 20px;
    
    
  }
}
